$bgc: #F6F3F3;
$primary: #403432;
$primary-hover: #776763;
$primary-disable: #C1B4B1;
$secondary: #5B3A32;
$secondary-foot: #ECEAEA;
$secondary-disable: #E1E1E1;
$font-light: #F4F6F9;
$font-dark: #343030;
