$bgc: #f6f3f3;
$primary: #403432;
$primary-hover: #776763;
$primary-disable: #c1b4b1;
$secondary: #5b3a32;
$secondary-foot: #eceaea;
$secondary-disable: #e1e1e1;
$font-light: #f4f6f9;
$font-dark: #343030;
$sold-opacity: 0.5;

$container-max: 1270px;
$header-height: 85px;
$card-width: 300px;
$card-img-height: 160px;
